timeline {
    enabled = true
}

report {
    enabled = false
}

trace {
    enabled = true
}

dag {
     enabled = false
}

executor {
    queueSize = 25
    name = "slurm"
}

process.queue = "SANGERDEV"
process.publishDir.mode = "link"
process.beforeScript = "source ~/app/bioinfo/dna/new.rc || echo 'nothing to source'"
params.db = "/mnt/lustre/users/sanger-dev/sg-users/yiwei.tang/offline_src/disease/db"
params.reportdb = "/mnt/lustre/users/sanger-dev/app/database/dna-report"
