timeline {
    enabled = true
}

report {
    enabled = false
}

trace {
    enabled = true
}

dag {
     enabled = false
}

executor {
    queueSize = 25
    name = "slurm"
}

profiles {

    sangerdev {
        process.queue = "SANGERDEV"
        process.beforeScript = "source /mnt/lustre/users/sanger-dev/app/bioinfo/dna/new.rc"
        params.reportdb = "/mnt/lustre/users/sanger-dev/app/database/dna-report"
    }

    dna {
        process.queue = "DNA"
        params.reportdb = "/mnt/ilustre/users/yiwei.tang/development/dna-report/inst/rmarkdown/templates"
    }
}


params.reportdb = "/mnt/lustre/users/sanger-dev/app/database/dna-report"
