timeline {
    enabled = true
}

report {
    enabled = true
}

trace {
    enabled = true
}

dag {
     enabled = true
}

executor {
    queueSize = 25
    name = "slurm"
}

process.queue = "SANGERDEV"
process.beforeScript = "source ~/app/bioinfo/dna/new.rc || echo 'nothing to source'"